<app-header-header></app-header-header>
<app-navigation [items]="[
  { label: 'Inicio', route: '/start/start' },
  { label: 'Facturas', route: '/bill' },
  { label: 'Editar factura' , route: '/bill/update-bill' }
]"></app-navigation>

<div class="container mx-auto px-4 py-8">
    <h2 class="text-2xl font-semibold text-center mb-6">Editar Factura</h2>

    <form (ngSubmit)="onSubmit()" class="grid grid-cols-1 sm:grid-cols-2 gap-4 max-w-3xl mx-auto" *ngIf="factura">

        <div class="flex flex-col">
            <label class="mb-1 font-medium text-gray-700">Código:</label>
            <input type="text" class="p-3 border rounded-md w-full" [(ngModel)]="factura.codigo" name="codigo" />
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium text-gray-700">Fecha de emisión:</label>
            <input type="date" class="p-3 border rounded-md w-full" [(ngModel)]="factura.fechaEmision"
                name="fechaEmision" />
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium text-gray-700">Consumo (m³):</label>
            <input type="text" class="p-3 border rounded-md w-full" [(ngModel)]="factura.consumo" name="consumo" />
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium text-gray-700">Fecha fin:</label>
            <input type="date" class="p-3 border rounded-md w-full" [(ngModel)]="factura.fechaFin" name="fechaFin" />
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium text-gray-700">Estado:</label>
            <select class="p-3 border rounded-md w-full" [(ngModel)]="factura.estado.id" name="estadoId">
                <option *ngFor="let est of estado" [ngValue]="est.id">
                    {{ est.nombre }}
                </option>
            </select>
        </div>


        <div class="flex flex-col">
            <label class="mb-1 font-medium text-gray-700">Consumo anormal:</label>
            <select class="p-3 border rounded-md w-full" [(ngModel)]="factura.lectura.consumoAnormal"
                name="consumoAnormal">
                <option [ngValue]="true">Sí</option>
                <option [ngValue]="false">No</option>
            </select>
        </div>

        <div class="flex flex-col">
            <label class="mb-1 font-medium text-gray-700">Valor factura:</label>
            <input type="text" class="p-3 border rounded-md w-full" [(ngModel)]="factura.precio" name="consumo" />
        </div>

        <div class="col-span-1 sm:col-span-2 flex justify-center mt-4">
            <button (click)="onSubmit()" type="submit"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md shadow-md cursor-pointer">
                Actualizar Factura
            </button>
        </div>
    </form>
</div>

<app-footer-footer></app-footer-footer>