<div class="container mx-auto px-4 py-8">
  <h2 class="text-2xl font-semibold text-center mb-6">Editar Contador</h2>

  @if (contador) {
    <form #f="ngForm" (ngSubmit)="onSubmit()"
          class="mx-auto max-w-md grid grid-cols-2 gap-4">
      
      <div class="col-span-1">
  <label class="font-medium mb-1 block">Tipo de Contador:</label>

  @let types = getCounterType.value();
  <!-- @for (item of types; track $index) {
    <p>{{ item.nombre }}</p>
  
  } -->
  @if (types.length) {
    <select
      [(ngModel)]="contador.tipoContador.nombre"
      name="tipoContador"
      class="w-full p-3 border rounded-md"
    >
      @for (types of types; track types.id) {
        <option [ngValue]="types.nombre">{{ types.nombre }}</option>
      }
    </select>
  } @else {
    <p class="text-gray-500">Cargando tipos...</p>
  }
</div>


      <div class="col-span-1">
        <label class="font-medium mb-1 block">Dirección:</label>
        <input type="text"
               [(ngModel)]="contador.descripcion.descripcion"
               name="direccionDescripcion"
               class="w-full p-3 border rounded-md" />
      </div>

      <div class="col-span-1">
        <label class="font-medium mb-1 block">Número de Serie:</label>
        <input type="text"
               [(ngModel)]="contador.serial"
               name="serial"
               class="w-full p-3 border rounded-md" />
      </div>

      <div class="col-span-1"></div>

      <div class="col-span-2 flex justify-center mt-4">
        <button type="submit"
                [disabled]="f.invalid"
                class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">
          Actualizar
        </button>
      </div>
    </form>
  }
</div>
