<div class="max-w-7xl mx-auto p-6">
    <h2 class="text-2xl font-semibold text-center mb-6">Registrar Contador</h2>

    <form [formGroup]="registerForm">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

            <div>
                <select formControlName="tipoContador"
                    class="w-full p-2 bg-gray-100 rounded-md border border-gray-300 focus:outline-none" required>
                    <option [ngValue]="null" disabled>Tipo Contador...</option>
                    <option *ngFor="let tipo of tipoContador" [ngValue]="tipo.id">{{ tipo.nombre }}</option>
                </select>
            </div>

            <div>
                <input formControlName="serial" type="text" placeholder="Serial Contador..."
                    class="w-full p-2 bg-gray-100 rounded-md border border-gray-300 focus:outline-none" />
            </div>
            <div> <select formControlName="idDepartamento"
                    class="w-full p-2 bg-gray-100 rounded-md border border-gray-300 focus:outline-none" required>
                    <option [ngValue]="null" disabled selected>Departamento...</option>
                    <option *ngFor="let item of departaments" [value]="item.id">
                        {{ item.nombre }}
                    </option>
                </select>
            </div>

            <div> <select formControlName="idCiudad" (change)="onCitiesChange()"
                    class="w-full p-2 bg-gray-100 rounded-md border border-gray-300 focus:outline-none" required>
                    <option [ngValue]="null" disabled selected>Ciudad...</option>
                    <option *ngFor="let city of filteredCities" [value]="city.id">
                        {{ city.nombre }}
                    </option>
                </select>
            </div>


            <div> <select formControlName="idCorregimiento"
                    class="w-full p-2 bg-gray-100 rounded-md border border-gray-300 focus:outline-none" required>
                    <option [ngValue]="null" disabled selected>Corregimiento...</option>
                    <option *ngFor="let cor of filteredCorregimientos" [value]="cor.id">
                        {{ cor.nombre }}
                    </option>
                </select>
            </div>
            <div>
                <input formControlName="direccion" type="text" placeholder="Dirección..."
                    class="w-full p-2 bg-gray-100 rounded-md border border-gray-300 focus:outline-none" />
            </div>
        </div>
        <div class="text-center mt-8">
            <button (click)="saveClient()"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md shadow-md cursor-pointer">
                Guardar cliente
            </button>
        </div>
    </form>
</div>